@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    box-sizing: border-box;
    border: 0px red solid;
}

body{
    background-image: linear-gradient(-225deg, #4e65a9 0%, #5e5adc 48%, #7285ff 100%);
    height: 100vh;
    overflow-y: hidden;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.calculator{
    margin: 50px auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #1f1920;
    border-radius: 10px;
    padding: 15px;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%
}

.display-wrapper{
    width: 100%;
    border-radius: 10px;
    background-color: #362937;
    margin-bottom: 5px;
}

.working{
    text-align: right;
    padding: 5px 10px;
    height: 40px;
    color: #ccc;
}

.display{
    padding: 15px 10px;
    font-size: 1.5em;
    height: 60px;
    color: #ccc;
    text-align: right;
}

.topRow{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%
}

.backBtn {
    flex-basis: 25%;
    text-align: right;
    background-color: none;
    height: 40px;
    background-color: inherit;
    padding: 5px 15px;
}

.numberBtn, .operatorBtn{
    flex: 1;
    flex-basis: 25%;
}

.clearBtn, .resultBtn{
    flex:2;
    flex-basis: 50%;
    background-color: #7f94a8;
    color: #1e181f;
}

.operatorBtn{
    background-color: #27262e;
    color: #e7523f;
    flex-basis: 25%;
}

button{
    color: #7f94a8;
    background-color: #342836;
    font-size: 1.5em;
    height: 70px;
    border: 0;
    border-radius: 5px;
}