@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    box-sizing: border-box;
    border: 0px red solid;
    font-family: "Montserrat", Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(-225deg, #4e65a9 0%, #5e5adc 48%, #7285ff 100%);
    height: 100vh;
    overflow-y: hidden;
}

.calculator{
    margin: 50px auto;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #1f1920;
    border-radius: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
}

.display-wrapper{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.working{
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    height: 40px;
    color: #7f94a8;
    background-color: #362937;
    border-radius: 10px 10px 0px 0px;
}

.display{
    padding: 15px 10px;
    font-size: 2em;
    height: 60px;
    color: #ccc;
    text-align: right;
    background-color: #362937;
}

.divider{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 320px 0 0;
    border-color: #362937 transparent transparent transparent;
}

.button-wrapper{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.button-grid{
    background: #e7523f;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.topRow{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%
}

.backBtn {
    flex-basis: 25%;
    text-align: right;
    background-color: none;
    height: 40px;
    background-color: inherit;
    padding: 5px 15px;
}

.backBtn:active{
    color: #7a647e;
    background-color: inherit;
}

.numberBtn, .operatorBtn{
    flex: 1;
    flex-basis: 25%;
}

.clearBtn, .resultBtn{
    flex:2;
    flex-basis: 50%;
    background-color: #7f94a8;
    color: #1e181f;
}

.operatorBtn{
    background-color: #27262e;
    color: #e7523f;
    flex-basis: 25%;
    font-size: 1.5em;
}

button{
    color: #7f94a8;
    background-color: #342836;
    font-size: 1.5em;
    height: 70px;
    border: 0;
    border-radius: 5px;
    transition: ease-out 0.1s;
    border: 0px solid #1f1920;
    box-shadow: 0px 0px 2px #1f1920;
}

button:active{
    background-color: #7a647e;
}